@import "~bootstrap/scss/bootstrap";
@import "~toastr";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(12, 246, 39, 0.9);
  padding: 10px;
  background-color: rgb(196, 184, 184);
  display: inline-block;
}
